/*For debug purpose*/
/*
* {
	border : solid 1px;
}
*/
/*For debug purpose*/
body {
	font-family : arial, sans-serif;
	color : #292f33;
	background-color : #d2e6f2;
	
}


header {
	position : fixed;
	display : block;
	width: 100%;
	border : solid 1px #000;
}

.Logo {
	float: left;
	border : solid 1px #000;
}

nav {
	border : solid 1px #000;
	display: inline-block;
}

.Profile {
	float: right;
	border : solid 1px #000;
}

.Form {
	display : inline-block;
	box-shadow : 0px 0px 10px #888888;
	background-color : #f4fbff;
	border-radius : 5px;
}

.FormTitle {
	text-align : left;
	margin-left : 15px;
	font-weight : bold;
	font-size : 25px;
	color : #252c30;
}

.FormGroup {
	position : relative;
	display : block;
	margin : 5px 0 0 0;
	/*width : 88%;*/
}

.FormGroup * {
	display : inline-block;
	margin : 15px;
}

.FormGroup .Field{
	float : right;
	border-radius : 5px;
	border : solid 1px #bfe0ec;
	padding : 2px;
}
.FormGroup label{

}

/*
fefefe
f5f8fa
*/
.button-primary {
	float : left;
	background : #77DD77;
	border : none;
	border-radius : 5px;
	padding : 3px 5px 3px 5px;
}

.button-cancel {
	float : right;
	background : #FF6961;
	border : none;
	border-radius : 5px;
	padding : 3px 5px 3px 5px;
	
	
}


.Message {
	border: solid 1px;
	border-color : #c9c9c9;
	width : 800px;
	min-height : 150px;
	background-color : #f4fbff;
}

.MsgAvatar {
	margin : 10px;
	width : 50px;
	height : 50px;
	float : left;
}

.MsgContent {
	margin-left : 70px;
	margin-right : 10px;
}

.MsgAuthor {
	font-weight : bold;
	font-size : 23px;
}

.MsgLogin {
	color : #a8a8a8;
}








